.whiteBg {
  background: var(--white-color);
}

.mainBg {
  background-image: url("../img/mainBg.svg");
  background-size: cover;
  background-position: center center;
  color: var(--white-color);
}
.sessao {
  min-height: 100vh;
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: var(--gap);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 0.5rem solid var(--light-gray-color);
}
.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}
.menu-espacamento {
  height: 90px;
}
